<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-11 offset-md-1">
      <h1>Admin::Homes#top</h1>
      <p>Find me in app/views/admin/homes/top.html.erb</p>
    </div>
  </div>
</div>
