<h1>都道府県一覧</h1>
<h4>北海道・東北</h4>
  <p>北海道</p>
  <p>青森県</p>
  <p>岩手県</p>
  <p>宮城県</p>
  <p>秋田県</p>
  <p>山形県</p>
  <p>福島県</p>
<h4>関東</h4>
  <p>茨城県</p>
  <p>栃木県</p>
  <p>群馬県</p>
  <p>埼玉県</p>
  <p>千葉県</p>
  <p><%= link_to "東京都", articles_prefecture_path(prefecture_name: "東京都") %></p>
  <p>神奈川県</p>
<h4>中部</h4>
  <p>新潟県</p>
  <p>富山県</p>
  <p>石川県</p>
  <p>福井県</p>
  <p>山梨県</p>
  <p>長野県</p>
  <p>岐阜県</p>
  <p>静岡県</p>
  <p><%= link_to "愛知県", articles_prefecture_path(prefecture_name: "愛知県") %></p>
<h4>近畿</h4>
  <p>三重県</p>
  <p>滋賀県</p>
  <p>京都府</p>
  <p>大阪府</p>
  <p>兵庫県</p>
  <p>奈良県</p>
  <p>和歌山県</p>
<h4>中国・四国</h4>
  <p>鳥取県</p>
  <p>島根県</p>
  <p>岡山県</p>
  <p>広島県</p>
  <p>山口県</p>
  <p>徳島県</p>
  <p>香川県</p>
  <p>愛媛県</p>
  <p>高知県</p>
<h4>九州・沖縄</h4>
  <p>福岡県</p>
  <p>佐賀県</p>
  <p>長崎県</p>
  <p>熊本県</p>
  <p>大分県</p>
  <p>宮崎県</p>
  <p>鹿児島県</p>
  <p>沖縄県</p>
